Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-WTF==0.14.3
gunicorn==20.0.4
h5py==2.10.0
html5lib==0.9999999
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.2.1
nltk==3.5
numpy==1.18.2
oauthlib==3.1.0
pandas==1.0.3
praw==6.5.1
prawcore==1.0.1
requests==2.23.0
requests-oauthlib==1.3.0
scikit-learn==0.22.2.post1
scipy==1.4.1
spacy==2.2.4
srsly==1.0.2
tensorflow==2.9.3
tqdm==4.45.0
urllib3==1.25.9
wordcloud==1.6.0
WTForms==2.3.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
